In [1]:
%pip install SQLAlchemy
%pip install pymysql
import pandas as pd

Requirement already satisfied: SQLAlchemy in /home/rodrigo/anaconda3/envs/ironhack/lib/python3.8/site-packages (1.4.31)
Requirement already satisfied: greenlet!=0.4.17 in /home/rodrigo/anaconda3/envs/ironhack/lib/python3.8/site-packages (from SQLAlchemy) (1.1.2)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: pymysql in /home/rodrigo/anaconda3/envs/ironhack/lib/python3.8/site-packages (1.0.2)
Note: you may need to restart the kernel to use updated packages.

In [2]:
from sqlalchemy import create_engine

In [3]:
str_conn='mysql+pymysql://root:password@localhost:3306/publications'
motor=create_engine(str_conn)  # motor de conexion

### CHALLENGE 1

STEP 1

In [4]:
motor.execute('''
            create temporary table publications.sales_royalty
            SELECT titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 as 'Sales_royalty',
            authors.au_id as 'Author_ID', titles.title as 'Title'
            FROM authors
            LEFT JOIN titleauthor ON titleauthor.au_id=authors.au_id
            LEFT JOIN titles ON titleauthor.title_id=titles.title_id
            LEFT JOIN sales ON sales.title_id=titles.title_id
            WHERE title is not NULL;
            '''
            );

STEP 2

In [5]:
motor.execute('''
            create temporary table publications.Titles_royalty
            SELECT Author_ID, Title, SUM(Sales_royalty) as 'Titles_royalty'
            FROM publications.sales_royalty
            GROUP BY Author_ID, Title

            '''
            );

STEP 3

In [6]:
motor.execute('''
            create temporary table publications.Author_royalty
            SELECT Author_ID, SUM(Titles_royalty) as Author_royalty
            FROM publications.Titles_royalty
            GROUP BY Author_ID
            '''
            );

In [7]:
pd.read_sql('''
        SELECT * FROM publications.Author_royalty
        ORDER BY Author_royalty DESC
        LIMIT 3;
            ''',motor)

     Author_ID  Author_royalty
0  238-95-7766         110.160
1  998-72-3567          88.456
2  807-91-6654          83.800

### CHALLENGE 2

STEP 1

In [8]:
query1='''
        SELECT authors.au_id as 'Author_ID', titles.title as 'Title',
        titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 as 'Sales_royalty'
        FROM authors
        LEFT JOIN titleauthor ON titleauthor.au_id=authors.au_id
        LEFT JOIN titles ON titleauthor.title_id=titles.title_id
        LEFT JOIN sales ON sales.title_id=titles.title_id
        WHERE title is not NULL
        '''
pd.read_sql(query1,motor)

,Author_ID,Title,Sales_royalty
0,213-46-8915,The Busy Executive's Database Guide,3.998
1,409-56-7008,The Busy Executive's Database Guide,5.997
2,213-46-8915,The Busy Executive's Database Guide,7.996
3,409-56-7008,The Busy Executive's Database Guide,11.994
4,267-41-2394,Cooking with Computers: Surreptitious Balance ...,11.950
5,724-80-9391,Cooking with Computers: Surreptitious Balance ...,17.925
6,213-46-8915,You Can Combat Computer Stress!,25.116
7,274-80-9391,Straight Talk About Computers,29.985
8,712-45-1867,Silicon Valley Gastronomic Treats,23.988
9,722-51-5454,The Gourmet Microwave,13.455
10,899-46-2035,The Gourmet Microwave,4.485
11,722-51-5454,The Gourmet Microwave,8.073
12,899-46-2035,The Gourmet Microwave,2.691
13,238-95-7766,But Is It User Friendly?,110.160
14,427-17-2319,Secrets of Silicon Valley,50.000
15,846-92-7186,Secrets of Silicon Valley,50.000
16,486-29-1786,Net Etiquette,NaN
17,724-80-9391,Computer Phobic AND Non-Phobic Individuals: Be...,10.795
18,756-30-7391,Computer Phobic AND Non-Phobic Individuals: Be...,32.385
19,899-46-2035,Is Anger the Enemy?,1.971
20,998-72-3567,Is Anger the Enemy?,1.971
21,899-46-2035,Is Anger the Enemy?,49.275
22,998-72-3567,Is Anger the Enemy?,49.275
23,899-46-2035,Is Anger the Enemy?,6.570
24,998-72-3567,Is Anger the Enemy?,6.570
25,899-46-2035,Is Anger the Enemy?,13.140
26,998-72-3567,Is Anger the Enemy?,13.140
27,998-72-3567,Life Without Fear,17.500
28,172-32-1176,Prolonged Data Deprivation: Four Case Studies,29.985
29,486-29-1786,Emotional Security: A New Algorithm,19.975
30,807-91-6654,"Onions, Leeks, and Garlic: Cooking Secrets of ...",83.800
31,648-92-1872,Fifty Years in Buckingham Palace Kitchens,33.460
32,267-41-2394,"Sushi, Anyone?",8.994
33,472-27-2349,"Sushi, Anyone?",8.994
34,672-71-3249,"Sushi, Anyone?",11.992

STEP 2

In [9]:
query2='''
        SELECT Author_ID, Title, SUM(Sales_royalty) as 'Titles_royalty'
        FROM (
            SELECT titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 as 'Sales_royalty',
            authors.au_id as 'Author_ID', titles.title as 'Title'
            FROM authors
            LEFT JOIN titleauthor ON titleauthor.au_id=authors.au_id
            LEFT JOIN titles ON titleauthor.title_id=titles.title_id
            LEFT JOIN sales ON sales.title_id=titles.title_id
            WHERE title is not NULL
        ) as Sales_royalty_table
        GROUP BY Author_ID, Title
        ORDER BY Author_ID DESC
        '''
pd.read_sql(query2,motor)

,Author_ID,Title,Titles_royalty
0,998-72-3567,Is Anger the Enemy?,70.956
1,998-72-3567,Life Without Fear,17.500
2,899-46-2035,Is Anger the Enemy?,70.956
3,899-46-2035,The Gourmet Microwave,7.176
4,846-92-7186,Secrets of Silicon Valley,50.000
5,807-91-6654,"Onions, Leeks, and Garlic: Cooking Secrets of ...",83.800
6,756-30-7391,Computer Phobic AND Non-Phobic Individuals: Be...,32.385
7,724-80-9391,Computer Phobic AND Non-Phobic Individuals: Be...,10.795
8,724-80-9391,Cooking with Computers: Surreptitious Balance ...,17.925
9,722-51-5454,The Gourmet Microwave,21.528
10,712-45-1867,Silicon Valley Gastronomic Treats,23.988
11,672-71-3249,"Sushi, Anyone?",11.992
12,648-92-1872,Fifty Years in Buckingham Palace Kitchens,33.460
13,486-29-1786,Emotional Security: A New Algorithm,19.975
14,486-29-1786,Net Etiquette,NaN
15,472-27-2349,"Sushi, Anyone?",8.994
16,427-17-2319,Secrets of Silicon Valley,50.000
17,409-56-7008,The Busy Executive's Database Guide,17.991
18,274-80-9391,Straight Talk About Computers,29.985
19,267-41-2394,Cooking with Computers: Surreptitious Balance ...,11.950
20,267-41-2394,"Sushi, Anyone?",8.994
21,238-95-7766,But Is It User Friendly?,110.160
22,213-46-8915,The Busy Executive's Database Guide,11.994
23,213-46-8915,You Can Combat Computer Stress!,25.116
24,172-32-1176,Prolonged Data Deprivation: Four Case Studies,29.985

STEP 3

In [10]:
query3='''
        SELECT Author_ID, SUM(Titles_royalty) as 'Author_royalty'
        FROM (
            SELECT Author_ID, Title, SUM(Sales_royalty) as 'Titles_royalty'
            FROM (
                SELECT titles.price * sales.qty * titles.royalty / 100 * titleauthor.royaltyper / 100 as 'Sales_royalty',
                authors.au_id as 'Author_ID', titles.title as 'Title'
                FROM authors
                LEFT JOIN titleauthor ON titleauthor.au_id=authors.au_id
                LEFT JOIN titles ON titleauthor.title_id=titles.title_id
                LEFT JOIN sales ON sales.title_id=titles.title_id
                WHERE title is not NULL
            ) as Sales_royalty_table
        GROUP BY Author_ID, Title
        ) as Sales_royalty
        GROUP BY Author_ID
        ORDER BY SUM(Titles_royalty) DESC
        LIMIT 3;
        '''
pd.read_sql(query3,motor)

     Author_ID  Author_royalty
0  238-95-7766         110.160
1  998-72-3567          88.456
2  807-91-6654          83.800

In [11]:
query_drop='''
        DROP TABLE IF EXISTS most_profiting_authors
    '''
motor.execute(query_drop);

query_create='''
        CREATE TABLE most_profiting_authors
        SELECT * FROM publications.Author_royalty
    '''
motor.execute(query_create);

In [12]:
pd.read_sql('''
            SELECT * FROM most_profiting_authors
            ORDER BY Author_royalty DESC
            LIMIT 3;
            ''',motor)

     Author_ID  Author_royalty
0  238-95-7766         110.160
1  998-72-3567          88.456
2  807-91-6654          83.800